main.article {
  article {
    @include centered();

    p.author {
      text-align: center;
    }

    p.avatar {
      text-align: center;

      img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        vertical-align: middle;
      }
    }

    p.time {
      font-size: 0.8rem;
      text-align: center;
    }

    h1 {
      margin: 1rem auto 1rem auto;
      text-align: center;

      a {
        color: $black;

        &:visited, &:active, &:hover {
          color: $black;
        }
      }
    }

    p.read-time {
      font-size: 0.8rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    section.cover-image {
      img {
        @include full-width(block);

        margin: 3rem 0;
      }
    }

    section.post-content {
      img {
        @include full-width(block);

        margin: 3rem 0;
      }

      .highlight {
        @include full-width(inline-block);

        min-width: 90%;
      }
    }

    section.post-meta {
      margin: 2rem 0 $footer-top-margin 0;

      section.category, section.tags {
        margin: 1rem 0;

        span {
          margin-right: 0.2rem;
        }
      }

      section.share {
        @include social-icons-size(2rem);

        margin-bottom: 1rem;

        text-align: center;

        p {
          padding: 1rem 0;
        }
      }
    }
  }
}
