.contact {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
  word-wrap: break-word;

  p {
    margin-bottom: 2rem;
    text-align: center;

    a {
      color: $black;
      font-size: 2rem;
      margin: 1rem;
      text-decoration: none;

      &:hover, &:focus, &:active, &:visited {
        color: $black;
      }
    }
  }
}
