.contact {
  margin-top: 4rem;

  p {
    margin-bottom: 2rem;
    text-align: center;

    a {
      color: $black;
      font-size: 2rem;
      margin: 1rem;
      text-decoration: none;

      &:hover, &:focus, &:active, &:visited {
        color: $black;
      }
    }
  }
}
