$icomoon-font-path: "../fonts" !default;

$icon-folder: "\e92f";
$icon-price-tags: "\e936";
$icon-phone: "\e942";
$icon-location: "\e947";
$icon-bubbles3: "\e96f";
$icon-mail4: "\ea86";
$icon-google-plus2: "\ea8c";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-spotify: "\ea94";
$icon-telegram: "\ea95";
$icon-twitter: "\ea96";
$icon-rss2: "\ea9c";
$icon-youtube: "\ea9d";
$icon-steam2: "\eaad";
$icon-github: "\eab0";
$icon-tumblr2: "\eaba";
$icon-skype: "\eac5";
$icon-linkedin: "\eac9";
$icon-lastfm2: "\eacc";
$icon-stackoverflow: "\ead0";
