.posts-list {
  @include centered();

  time {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
  }

  h1 {
    //margin-bottom: 4rem;
    //margin-top: 0;
    margin: 1rem auto 5rem auto;
    padding: 0 1rem;
    text-align: center;

    a {
      color: $black;

      &:visited, &:active, &:hover {
        color: $black;
      }
    }
  }

  //.card {
  //  background-color: $white;
  //  border-radius: 3px;
  //  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  //  margin: 0 1rem 3rem 1rem;
  //  overflow: hidden;
  //  text-align: left;
  //  word-wrap: break-word;
  //
  //  .image {
  //    transition: all 0.5s ease-in-out;
  //
  //    img {
  //      height: auto;
  //      width: 100%;
  //    }
  //
  //    &:hover {
  //      transform: scale(1.1);
  //    }
  //  }
  //
  //  h1 {
  //    padding: 0 1rem;
  //    text-align: center;
  //
  //    a {
  //      color: $black;
  //
  //      &:visited, &:active, &:hover {
  //        color: $black;
  //      }
  //    }
  //  }
  //
  //  .content {
  //    padding: 0 1rem 1rem 1rem;
  //
  //    a {
  //      display: block;
  //      margin-top: 1rem;
  //    }
  //  }
  //
  //  .information {
  //    font-size: 0.8rem;
  //    color: rgba(0, 0, 0, .44);
  //    padding: 0 1rem 1rem 1rem;
  //    font-style: italic;
  //  }
  //
  //  .bottom {
  //    padding: 1rem;
  //
  //    .comments {
  //      float: right;
  //    }
  //  }
  //}
}