.posts-list {
  @include centered();

  time {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
  }

  h1 {
    margin: 1rem auto 5rem auto;

    padding: 0 1rem;
    text-align: center;

    a {
      color: $black;

      &:visited, &:active, &:hover {
        color: $black;
      }
    }
  }

  h1:last-child {
    margin: 1rem auto $footer-top-margin auto;
  }
}
