@mixin centered() {
  margin: 0 auto;
  max-width: 710px;
  position: relative;
  width: 90%;
  word-wrap: break-word;
}

@mixin full-width($display) {
  display: $display;
  height: auto;
  left: 50%;
  max-width: 90vw;
  overflow: hidden;
  position: relative;
  transform: translateX(-50%);
}

@mixin social-icons-size($size) {
  .social-icon {
    width: $size;
    height: $size;
    background-size: $size $size;
  }
}
