.neighbor-articles {
  a {
    flex-direction: column;
    justify-content: flex-start !important; // override div#panel.slideout-panel
    padding: 0 1rem;

    h2 {
      text-align: center;
    }
  }
}
