@import "settings";

section.pagination {
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  a {
    display: block;
    padding: 1rem 1.5rem;
    background: $blue;
    color: $white;
    border-radius: 0.2rem;

    &:visited, &:active, &:hover {
      color: $white;
    }

    &:nth-child(2) {
      margin-left: auto;
    }
  }
}
