@import "settings";

.pagination {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  a {
    align-items: center;
    background-color: $background-gray;
    color: $black;
    display: flex;
    flex: 1;
    justify-content: center;

    &:active,
    &:visited,
    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:hover:not(.disabled) {
      background-color: darken($background-gray, 10%);
    }

    &.disabled {
      color: darken($background-gray, 10%);
    }
  }
}

@media screen and (max-width: 860px) {
  .pagination {
    flex-direction: column;
  }
}
