@import "settings";

section.pagination {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  a {
    align-items: center;
    background-color: $background-gray;
    color: $black;
    display: flex;
    flex: 1;
    height: 6rem;
    justify-content: center;

    &:active,
    &:visited,
    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:hover:not(.disabled) {
      background-color: darken($background-gray, 10%);
    }

    &.disabled {
      color: darken($background-gray, 10%);
    }
  }
}

@media screen and (min-width: 630px) {
  section.pagination {
    flex-direction: row;

    a {
      flex-basis: 100%;
    }
  }
}
