article {
  //margin: 0 1rem;
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
  word-wrap: break-word;

  header {
    h1 {
      margin: 1rem auto;
      text-align: center;

      a {
        color: $black;

        &:visited, &:active, &:hover {
          color: $black;
        }
      }
    }

    section {
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
    }
  }

  section.post-content {
    img {
      display: block;
      max-width: 125%;
      height: auto;
      padding: 0.6em 0;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%); /* for Safari and iOS */
      -ms-transform: translateX(-50%); /* for IE9 */
      transform: translateX(-50%);
    }

    //p {
    //  text-align: justify;
    //}
  }

  section.post-meta {
    margin: 2rem 0;
    text-align: center;

    section.category, section.tags {
      margin: 1rem 0;

      span {
        margin-right: 0.2rem;
      }
    }

    section.share {
      font-size: 2rem;
      margin-top: 3rem;

      a {
        margin: 0 1rem;

        &:hover {
          text-decoration: none;
        }

        &.icon-twitter {
          color: #1DA1F2;
        }

        &.icon-facebook2 {
          color: #3B5998;
        }

        &.icon-google-plus2 {
          color: #DB4437;
        }
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  article {
    section.post-content {
      img {
        padding: 0;
        width: calc(100% + 32px); /* expand with to image + margins */
        min-width: 0;
        max-width: 112%; /* fallback when calc doesn't work */
      }
    }
  }
}