main.article {
  article {
    @include centered();

    p.author {
      margin-top: 0;
      text-align: center;
    }

    p.avatar {
      text-align: center;

      img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        vertical-align: middle;
      }
    }

    p.time {
      display: block;
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
    }

    h1 {
      margin: 2rem auto 5rem auto;
      text-align: center;

      a {
        color: $black;

        &:visited, &:active, &:hover {
          color: $black;
        }
      }
    }

    section.cover-image {
      img {
        @include full-width(block);

        margin: 3rem 0;
      }
    }

    section.post-content {
      img {
        @include full-width(block);

        margin: 3rem 0;
      }

      .highlight {
        @include full-width(inline-block);

        min-width: 100%;
      }
    }

    section.post-meta {
      margin: 2rem 0;
      text-align: center;

      section.category, section.tags {
        margin: 1rem 0;

        span {
          margin-right: 0.2rem;
        }
      }

      section.share {
        @include social_icons(0 1rem);

        font-size: 2rem;
        margin-top: 3rem;
      }
    }
  }

  //@media only screen and (max-width: 710px) {
  //  article {
  //    section.post-content {
  //      img {
  //        padding: 0;
  //        width: calc(100% + 32px); /* expand with to image + margins */
  //        min-width: 0;
  //        max-width: 112%; /* fallback when calc doesn't work */
  //      }
  //    }
  //  }
  //}
}