.rss-list {
  @include centered();

  ul {
    margin: 2rem 0 3rem 0;
    padding: 0;

    li {
      @include social_icons(0.5rem);

      align-items: center;
      display: flex;
      list-style: none;
      margin: 0.5rem 0;
      padding: 0.2rem 0 0.2rem 1rem;

      span.count {
        margin-left: 0.5rem;
      }
    }
  }
}
