.rss-list {
  ul {
    margin: 2rem 0 3rem 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0.5rem 0;
      padding: 0.2rem 0 0.2rem 1rem;

      a.icon-rss2 {
        color: $orange;
        margin-right: 0.5rem;
      }

      span.count {
        margin-left: 0.5rem;
      }
    }
  }
}
