<!DOCTYPE html>
<html lang="{% if article %}{{ article.lang }}{% else %}{{ DEFAULT_LANG }}{% endif %}">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="robots" content="robots.txt" />

    <title>{{ SITENAME }} - {{ STORK_TITLE }}</title>
    <meta name="description" content="{{ STORK_DESCRIPTION }}">
    <link href="{{ SITEURL }}{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} - RSS">
    <link rel="canonical" href="{{ STORK_CANONICAL_URL }}">
    <meta name="referrer" content="origin">
    <meta name="author" content="{{ AUTHOR }}">

    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">

    {% include "partial/meta_twitter.html" %}
    {% include "partial/meta_ogp.html" %}
    {% include "partial/meta_json_ld.html" %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css">
  </head>
  <body>
    <nav id="menu">
      <img src="{{ SITELOGO }}" alt="Logo">
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <hr>
        <li><a href="{{ SITEURL }}{{ CATEGORIES_URL }}" title="Categories">Categories</a></li>
        <li><a href="{{ SITEURL }}{{ TAGS_URL }}" title="Tags">Tags</a></li>
        <li><a href="{{ SITEURL }}rss/index.xml" title="RSS">RSS</a></li>
        <hr>
        {% for page_name, page_url in STATIC_PAGES.iteritems() %}
          <li><a href="{{ SITEURL }}{{ page_url }}" title="{{ page_name }}">{{ page_name }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div id="panel">
      <header>
          <button class="hamburger--spin" type="button" aria-label="Menu" aria-controls="navigation">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          {% if article %}
            <div class="follow">
              <a class="icon-rss2 normal-link" href="{{ SITEURL }}/rss/index.xml"></a>
              <a class="icon-twitter normal-link" href="{{ TWITTER_URL }}"></a>
              <a class="icon-facebook2 normal-link" href="{{ FACEBOOK_URL }}"></a>
              <a class="icon-google-plus2 normal-link" href="{{ GOOGLE_PLUS_URL }}"></a>
            </div>
          {% else %}
            <span class="author">{{ AUTHOR }}</span>
          {% endif %}
      </header>

      {% block content %}{% endblock %}

      {% include "partial/footer.html" %}
    </div>

    <script src="{{ SITEURL }}/theme/js/scripts.js"></script>
    {% include "partial/google_analytics.html" %}
  </body>
</html>
