{% extends "base.html" %}

{% set STORK_TITLE = "List of categories" %}
{% set STORK_DESCRIPTION = "List of categories"%}
{% set STORK_CANONICAL_URL %}{{ SITEURL }}/categories/{% endset %}

{% block content %}
  <main class="rss-list">
    <h2>Categories</h2>
    <ul>
      {% for category, articles in categories|sort %}
        <li>
          <a class="social-icon rss" href="{{ SITEURL }}/{{ category.url }}rss/index.xml"></a>
          <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
          <span class="count">({{ articles|count }})</span>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
