{% extends "base.html" %}

{% set STORK_TITLE %}List of posts, page {{ articles_page.number }}{% endset %}

{% set STORK_CANONICAL_URL = SITEURL %}
{% set STORK_DESCRIPTION = SITEDESCRIPTION %}

{% block content %}
  <main role="main" class="posts-list">
    {% for article in articles_page.object_list %}
      <time class="post-date" datetime="{{ article.date }}">{{ article.locale_date }}</time>
      <h1><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h1>
    {% endfor %}
  </main>

  {%  include "partial/pagination.html" %}
{% endblock %}
