{% set STORK_CANONICAL_URL %}{{ SITEURL }}{{ TAGS_URL }}{% endset %}

{% extends "base.html" %}

{% set STORK_TITLE = "List of tags" %}
{% set STORK_DESCRIPTION = "List of tags" %}

{% block content %}
  <main class="rss-list">
    <h2>Tags</h2>
    <ul>
      {%- for tag, articles in tags|sort %}
        <li>
          <a class="icon-rss2 normal-link" href="{{ SITEURL }}{{ tag.url }}rss/index.xml"></a>
          <a href="{{ SITEURL }}{{ tag.url }}">#{{ tag }}</a>
          <span class="count">({{ articles|count }})</span>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
