<footer>
  <div>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
    </a>
  </div>
  <div>
    <p>Copyright &copy; by {{ AUTHOR }}</p>
    <p>
      Powered by <a href="http://blog.getpelican.com" title="Pelican Static Site Generator, Powered by Python">Pelican</a>,
      theme <a href="https://github.com/eshlox/stork" title="Stork - simple and responsive theme for Pelican">Stork</a>.
    </p>
  </div>
</footer>
