<meta property="og:site_name" content="{{ SITENAME }}" />
<meta property="og:type" content="{% if article %}article{% else %}blog{% endif %}" />
<meta property="og:title" content="{{ STORK_TITLE }}" />
<meta property="og:description" content="{{ STORK_DESCRIPTION|trim }}" />
<meta property="og:url" content="{{ STORK_CANONICAL_URL }}" />

{% if article %}
  <meta property="og:image" content="{{ SITEURL }}{{ article.metadata.get('cover', SITELOGO) }}" />
{% else %}
  <meta property="og:image" content="{{ SITEURL }}{{ SITELOGO }}" />
{% endif %}

{% if article %}
  <meta property="article:published_time" content="{{ article.date }}" />
  {% if article.modified %}
    <meta property="article:modified_time" content="{{ article.modified }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta property="article:tag" content="{{ tag.name }}" />
  {% endfor %}

  <meta property="article:section" content="{{ article.category.name }}" />

  <meta property="article:publisher" content="{{ SITEURL }}{{ ABOUT_URL }}" />
  <meta property="article:author" content="{{ SITEURL }}{{ ABOUT_URL }}" />
{% endif %}
