{% if article %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "author": {
          "@type": "Person",
          "name": "{{ AUTHOR }}",
          "image": "{{ AVATAR }}",
          "url": "{{ SITEURL }}/{{ ABOUT_URL }}",
          "sameAs": [
              "{{ SITEURL }}",
              "{{ FACEBOOK_URL }}",
              "{{ TWITTER_URL }}",
              "{{ GOOGLE_PLUS_URL }}"
          ]
      },
      "name": "{{ STORK_TITLE }}",
      "headline": "{{ STORK_TITLE }}",
      "url": "{{ SITEURL }}/{{ article.url }}",
      "datePublished": "{{ article.date }}",
      {% if article.modified %}
        "dateModified": "{{ article.modified }}",
      {% endif %}
      "keywords": "{{ article.category.name }}, {% for tag in article.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}",
      "description": "{{ STORK_DESCRIPTION|trim }}",
      {% if article %}
        "image": "{{ SITEURL }}/{{ article.metadata.get('cover', SITELOGO) }}"
      {% else %}
        "image": "{{ SITEURL }}/{{ SITELOGO }}"
      {% endif %}
    }
  </script>
{% else %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Blog",
      "name": "{{ SITENAME }}",
      "publisher": "{{ AUTHOR }}",
      "url": "{{ STORK_CANONICAL_URL }}",
      "image": "{{ SITEURL }}/{{ SITELOGO }}",
      "description": "{{ STORK_DESCRIPTION|trim }}"
    }
  </script>
{% endif %}
