{% if not article %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Website",
      "name": "{{ SITENAME }}",
      "publisher": "{{ AUTHOR }}",
      "url": "{{ STORK_CANONICAL_URL }}",
      "image": "{{ SITELOGO }}",
      "description": "{{ STORK_DESCRIPTION|trim }}"
    }
  </script>
{% else %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "author": {
          "@type": "Person",
          "name": "{{ AUTHOR }}",
          "image": "https://www.gravatar.com/avatar/{{ GRAVATAR }}?d=404&s=250",
          "url": "{{ SITEURL }}{{ ABOUT_URL }}",
          "sameAs": [
              "{{ SITEURL }}",
              "{{ FACEBOOK_URL }}",
              "{{ TWITTER_URL }}"
          ]
      },
      "name": "{{ STORK_TITLE }}",
      "headline": "{{ STORK_TITLE }}",
      "url": "{{ SITEURL }}{{ article.url }}",
      "datePublished": "{{ article.date }}",
      "dateModified": "{{ article.modified }}",
      "keywords": "{{ article.category.name }}, {% for tag in article.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}",
      "description": "{{ STORK_DESCRIPTION|trim }}"
      {% if  article.metadata.get('cover') %}
        "image": "{{ article.metadata.get('cover') }}"
      {% endif %}
    }
  </script>
{% endif %}
